<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:action="@{/user-update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">First name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="First Name">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br/>
    <label for="age">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label for="role"></label>
    <select multiple class="form-control" id="role" name="role">
        <option disabled>Roles:</option>
        <option value="ROLE_ADMIN">ADMIN</option>
        <option selected value="ROLE_USER">USER</option>
    </select>
    <br/>
    <input type="submit" value="Update User">
    <br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="LOGOUT"></input>
    </form>
</form>
</body>
</html>